

<div class="mdl-cell" style="background: white;">
	<div class="panel-header">Schaumburg Business Report</div>
	<div class="panel-body forms">
		<div layout="row" layout-sm="column" layout-xs="column"
			class="mdl-grid">
			<div flex="50" flex-xs="100">
				<md-content layout-padding> <span class="input-label">Exact
					SO Number</span> <md-input-container>
				<input type="text" ng-model="exactSONumber"> </md-input-container> </md-content>
			</div>
			<div flex="50" flex-xs="100">
				<md-content layout-padding> <span class="input-label">partial/full
					COF FO number</span> <md-input-container>
				<input type="text"ng-model="cofFoNumber"> </md-input-container> </md-content>
			</div>
		</div>
		<md-button class="md-raised md-primary"> Submit</md-button>
		<div id="grid1" ui-grid="getScogData" ui-grid-pagination  class="grid"></div>
	</div>
</div>